.toc-wrapper {
    position: fixed;
    top: 90px;
    right: 50%;
    margin-right: -600px;
    transition: all .24s ease-out;
    overflow: auto;
    max-height: calc(100% - 50px - 2 * 20px);
    width: 250px;
    z-index: 3;
    padding: 20px;
    border-left: 3px solid #fe7f27;
    background: #ffffff;
}

.z-depth-2, .toc-wrapper {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

ul, ol {
    padding-left: 0;
}
.toc-wrapper ol li {
    list-style: none;
    width: auto;
}

.txt-ellipsis, .toc-wrapper ol li, .m_widget ul.entry>li>a .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.toc-wrapper a:hover, .toc-wrapper a:active, .toc-wrapper a.active {
    color: #2196f3;
}

.toc-wrapper a {
    display: inline-block;
}

a {
    color: #414141;
    cursor: pointer;
    text-decoration: none;
    transition: all .24s ease;
}

a {
    background-color: transparent;
}

.toc-wrapper ol.toc-child {
    padding-left: 20px;
}

.toc-wrapper ol li {
    list-style: none;
    width: auto;
}

.txt-ellipsis, .toc-wrapper ol li, .m_widget ul.entry>li>a .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.toc-wrapper a {
    display: inline-block;
}